body {
    font-family: 'Inter', sans-serif;
}

.w-3  {
    width: 0.9rem;
}

.h-3  {
    width: 0.9rem;
}

.w-4  {
    width: 1rem;
}

.h-4  {
    width: 1rem;
}

.w-5  {
    width: 1.25rem;
}

.h-5  {
    width: 1.25rem;
}

.w-80 {
    width: 24rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.g-col-6 {
    grid-column: span 6 / span 6;
}

.brand::after {
    content: "";
    position: absolute;
    height: 4px;
    top: 100%;
    right: 0px;
    left: 0px;
    background: linear-gradient(rgba(9, 30, 66, 0.13) 0px, rgba(9, 30, 66, 0.13) 1px, rgba(9, 30, 66, 0.08) 1px, rgba(9, 30, 66, 0) 4px);
}

.cursor-grab {
    cursor: grab !important;
}

.cursor-grabbing {
    cursor: grabbing !important;
}

.choices__list--multiple .choices__item {
    background-color: rgb(38, 132, 255);
    border: 1px solid rgb(0, 101, 255);
}